.sidebar__control {
  color: #fff;
  display: inline-block;
  background: #212121;
  padding: 0 21px 3px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;
}

.sidebar__control--active {
  background: #424242;
}

.sidebar__control:hover {
  cursor: pointer;
}

.sidebar__control-panel {
  list-style: none;
  position: absolute;
  width: calc(100vh - 129px);
  height: 25px;
  margin: 0;
  z-index: 103;
}

.sidebar__control-panel__direction__descending {
  -webkit-transform: rotate(90deg) translateX(100%);
  transform: rotate(90deg) translateX(100%);
  text-align: start;
  top: 0;
  right: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  padding-left: 55px;
}

.sidebar__control-panel__direction__ascending {
  -webkit-transform: rotate(270deg) translateX(-100%);
  transform: rotate(270deg) translateX(-100%);
  text-align: end;
  left: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  padding-right: 55px;
}

.sidebar__control-panel__active {
  background: 0 0;
}

.sidebar__control-panel__direction__ascending .sidebar__control {
  -webkit-box-shadow: -1px 0 4px 0 #555;
  box-shadow: -1px 0 4px 0 #555;
}

.sidebar__control-panel__direction__descending .sidebar__control {
  -webkit-box-shadow: 1px 0 4px 0 #555;
  box-shadow: 1px 0 4px 0 #555;
}

#diagram,
#pad {
  position: relative;
}

#pad {
  width: auto;
  overflow: hidden;
}

#diagram {
  font-size: 12px;
  color: #000;
}

#pad * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:not(.icon) {
  font-family: Oxygen,sans-serif!important;
}

.attribute {
  padding: 0 5px;
}

.attribute__name {
  font-weight: 700;
}

.attribute__class,
.attribute__type {
  font-style: italic;
}

.attribute__class,
.attribute__name,
.attribute__type {
  padding: 1px 5px;
  font-size: 15px;
  line-height: 20px;
}

.attribute-disabled__name {
  font-weight: 700;
  padding: 0 5px;
}

.attribute-disabled {
  font-size: 15px;
  line-height: 20px;
  background: repeating-linear-gradient(45deg,rgba(0,0,0,.03),rgba(0,0,0,.03) 10px,rgba(0,0,0,.07) 0,rgba(0,0,0,.07) 20px);
}

.entity {
  border: 3px solid #254559;
  border-collapse: separate;
  border-radius: 8px 8px 0 0;
  font-size: 10pt;
  position: absolute;
  -webkit-transform-style: flat;
  transform-style: flat;
  top: 0;
  left: 0;
  background-color: hsla(0,0%,100%,.5);
  z-index: 2;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  overflow: hidden;
}

.entity__content {
  width: 100%;
  margin-bottom: 5px;
}

#schema {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.entity .entity-caption {
  font-weight: 700;
  padding: 6px;
  font-size: 12pt;
  text-align: center;
  background-color: hsla(0,0%,100%,.5);
  border-bottom: 3px solid #254559;
}

.entity-name__extended {
  margin-right: 20px;
}

.entity-attr,
.entity-caption {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.entity-attr td {
  min-width: 65px;
}

.entity-buttons {
  text-align: center;
  margin: 15px;
  padding: 2px !important;
  min-width: 160px;
}

.entity tr.sel-attr,
.entity tr.sel-attr.highlighted-attr {
  background-color: #9ecaed;
}

.entity tr.highlighted-attr {
  background-color: #cfe5f6;
}

.entity tr:last-child td {
  cursor: pointer;
}

.entity td.empty-last-row {
  height: 0;
  padding: 0;
  min-width: 120px;
}

.entity .entity-caption:hover {
  cursor: move;
}

.entity tr {
  cursor: pointer;
}

td.no-padding {
  padding: 0;
}

.expand-entity-button {
  position: absolute;
  top: 8px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  width: 14px;
}

.entity-caption__selected,
.entity__selected {
  -webkit-box-shadow: 0 0 10px 2px #9ecaed;
  box-shadow: 0 0 10px 2px #9ecaed;
  background-color: #fff;
}

.entity__selected {
  z-index: 3;
  border-color: #9ecaed;
}

.entity-caption__selected {
  border-color: #9ecaed!important;
}

.sidebar-input__name {
  padding: 1px 4px !important;
  text-align: right!important;
  white-space: nowrap;
}

.sidebar-input__value {
  padding: 1px 1px 1px 13px !important;
  text-align: center;
}

.ui.table tr td {
  border-top: 0!important;
}

#mini-view {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #aaa;
  width: 298px;
  z-index: 4;
  cursor: move;
}

.sidebar-view {
  position: fixed;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  top: 54px;
  margin-top: -1px;
  z-index: 104;
  width: 299px;
  height: calc(100vh - 54px + 2px);
  background-color: #e0e1e2;
}

.sidebar-view__wrapper {
  height: 100%;
  width: 100%;
  border-radius: 0!important;
  padding: 0 !important;
}

.sidebar-view__left {
  left: 0;
}

.sidebar-view__right {
  right: 0;
}

.sidebar-view__label {
  position: absolute;
  top: -5px;
}

.sidebar-view__label.right {
  left: 0;
  -webkit-transform: translate(-95%,5px);
  transform: translate(-95%,5px);
}

.sidebar-view__label.left {
  right: 0;
  -webkit-transform: translate(95%,5px);
  transform: translate(95%,5px);
}

#sidebar,
.sidebar {
  opacity: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  z-index: 4;
}

.properties * {
  font-size: 12px;
}

.hljs,
pre.syntaxHighlight {
  background: #fff;
}

pre.syntaxHighlight * {
  font-family: Fira Mono,monospace!important;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: #000;
  font-family: M\+ P Type-1,Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size: 15px;
  padding: 16px 8px 8px 32px;
  background-color: rgba(244,240,249,.1);
  background: url("/static/img/pony-standing2.png") no-repeat 100% 100%;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: green;
}

.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #254559;
  font-weight: 600;
}

.hljs-addition,
.hljs-attribute,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
  color: green;
}

.hljs-title {
  font-weight: 700;
  color: #3c88b7;
}

.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #2b91af;
}

.hljs-doctag {
  color: gray;
}

.hljs-attr {
  color: red;
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-kind,
.hljs-strong {
  font-weight: 700;
}

.hljs-kind {
  color: #254559;
}

.syntaxHighlight > code {
  min-height: calc(100vh - 180px);
}

.settings-input__controls {
  white-space: nowrap;
}

.settings-input__submit {
  margin-left: 10px;
}

.diagram-canEdit {
  text-align: center!important;
  vertical-align: middle!important;
}

.diagram-canEdit input {
  margin: 0;
}

.notification {
  margin-bottom: 7px;
  width: 200px;
  padding: 10px 20px;
  font-weight: 100;
  border-radius: 10px;
  border: 1px solid transparent;
  min-height: 2rem;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: top .3s ease-in;
  transition: top .3s ease-in;
  z-index: 105;
}

.notification__wrapper {
  z-index: 2;
  position: fixed;
  width: 200px;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.notification--info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.notification--success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.notification--warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.notification--error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.notification--enter {
  opacity: .01;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.notification--enter-active {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.notification--enter-active,
.notification--leave {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.notification--leave-active {
  opacity: .01;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.history__controls {
  width: 80px;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio],
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}
/*# sourceMappingURL=pony.css.map*/
